body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

div {
    background-color:#fff;
    width: 200px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgb(80, 79, 79);
}

h3 {
    font-size: 15px;
}

p {
    font-size: 12px;
    color:rgb(80, 79, 79);
    margin: 5px;
}

img {
    width: 100%;
    border-radius: 10px; 
}
